{% extends "base.html" %}
{%block title%}
<title>Fyrirtæki</title>
{%endblock%}
{%block content%}
<h1 class="heading-title">Staðir</h1>
<table>
    <thead>
        <tr>
            <th>Fyrirtæki</th>
            <th>Staður</th>
        </tr>
    </thead>
    <tbody>
        {% for company in dataDict%}
            {% for key, value in company.items() %} 
                {% if key == "company" and value == gasCompany %}
                    <tr>
                        <td data-label="Fyrirtæki"><a href="{{gasCompany}}/{{company['key']}}" target="_blank">{{gasCompany}}</a></td>
                        <td data-label="Staður">{{company["name"]}}</td>
                    </tr>
                {% endif %}
            {% endfor%}
        {% endfor %}
    </tbody>
</table>
{%endblock%}